<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.UserDAO">

	<!-- 유저정보 몸무게 포함 -->
    <select id="getUser_curWeight" resultType="com.example.domain.UserVO">
        SELECT
        u.email AS email,
        u.username AS username,
        u.password AS password,
        u.joindate AS joindate,
        u.goal AS goal,
        u.goalsuccess AS goalsuccess,
        u.height AS height,
        u.age AS age,
        u.gender AS gender,
        u.activity AS activity,
        u.photoid AS photoid,
        u.successdate AS successdate,
        w.weight AS weight
        FROM users u
        LEFT JOIN weight w ON u.email = w.email
        LEFT JOIN userphoto up ON u.photoid = up.profileid
        WHERE u.email = #{email}
        ORDER BY w.weightdate DESC
        LIMIT 1
    </select>
	
	<!--  유저정보 -->
    <select id="getUser" resultType="UserVO">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>


    <!--  로그인체크 -->
	<select id="loginCheck" resultType="UserVO">
		SELECT * FROM users
		WHERE EMAIL = #{email} and PASSWORD = #{password}
	</select>
	
	<!-- 유저프로필 업데이트 -->
	<update id="updateProfile">
		UPDATE users
		SET photoid=#{photoid}
		WHERE email=#{email}
	</update>
	
	<!-- 유저 회원가입 -->
    <insert id="insertUser" parameterType="com.example.domain.UserVO">
        INSERT INTO users (
        email, username, password, joindate, goal, goalsuccess, height, age, gender, activity, photoid, successdate
        ) VALUES (
        #{email}, #{username}, #{password}, sysdate(),
        #{goal}, #{goalsuccess}, #{height}, #{age}, #{gender}, #{activity}, null, null
        )
    </insert>


    <!-- 비밀번호 변경 -->
	<update id="passwordchange" parameterType="UserVO">
		UPDATE users SET password = #{password}
		WHERE email = #{email}
	</update>
	
	<!--  회원정보 수정 -->
	<update id="updateUserInfo" parameterType="UserVO">
		UPDATE users 
 		SET height = #{height}, goal = #{goal}, activity = #{activity}
 		WHERE email = #{email}
	</update>
	
</mapper>
