<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.dao.WorkoutDAO">

    <select id="getWorkoutList" resultType="WorkoutVO">
        SELECT *
        FROM workout
        <where>
            <if test="search != null and search != ''">
                (workoutname LIKE CONCAT('%', #{search}, '%')
                OR catename LIKE CONCAT('%', #{search}, '%'))
            </if>
        </where>
        ORDER BY workoutid
        LIMIT 8 OFFSET #{start}
    </select>
	
	<select id="mainworkout" resultType="WorkoutVO">
		SELECT * FROM workout
		ORDER BY rand()
		LIMIT 1;
	</select>
	
	<!-- 유튜브 동영상 제거 -->
	<delete id="workVideoDelete">
		DELETE FROM workout
		WHERE workvideoid = #{videoid}
	</delete>

	<!-- 운동카테고리 불러오기 -->
	<select id="workcate" resultType="WorkcateVO">
		SELECT * FROM workcate;
	</select>
	
	<!-- 메인페이지 운동시간 입력 -->
	<insert id="insertWorkDiary" parameterType="WorkDiaryVO">
		INSERT workdiary(workcatename, email, worktime, workdiarydate)
		VALUES (#{workcatename}, #{email}, #{worktime}, curdate())
	</insert>
	
	<!-- 운동 칼로리 소모량 -->
    <select id="workcal" parameterType="map" resultType="hashmap">
        SELECT
        IFNULL(ROUND(SUM(w.weight * wc.mets * (wd.worktime / 60)), 1), 0) AS workcal,
        IFNULL(SUM(wd.worktime), 0) AS worktime
        FROM weight w
        JOIN workdiary wd ON wd.email = w.email
        JOIN workcate wc ON wc.workcatename = wd.workcatename
        WHERE w.email = #{email}
        AND DATE(wd.workdiarydate) = DATE(#{seldate})
        AND w.weightdate = (
        SELECT MAX(w2.weightdate)
        FROM weight w2
        WHERE w2.email = w.email
        )
    </select>



    <!--   운동 상세페이지 운동불러오기  -->
    <select id="getWorkout" resultType="WorkoutVO">
        SELECT *
        FROM workout
        WHERE workoutid = #{exerciseno}
    </select>

    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM workout
        <where>
            <if test="search != null and search != ''">
                (workoutname LIKE CONCAT('%', #{search}, '%')
                OR catename LIKE CONCAT('%', #{search}, '%'))
            </if>
        </where>
    </select>
	
</mapper>
